html { overflow-y: scroll; }
/*
@layer base {
*{
    @apply border-border;
    body{
        @apply bg-background text-foreground
    }
}
}
@layer base {img{display: initial}}

*/
/*@media print {
    .page-break {
        display: block;
    }
    .printHide{
        display: none;
    }
}
.page-break {
    display: none;
}
@media print {
    *{
        display: none;
    }
    .forPrint{
        display: block!important;
    }
}*/

